<br>
<br>
<br>
<br>
<br>
<div class="container col-6">
<h1>Add new listing</h1>
<%= simple_form_for (@listing) do |f| %>
  <%= f.input :name %>
  <%= f.input :address%>
  <%= f.input :max_cap, :label => "Maximum Occupancy", collection: (1..9) %>
  <%= f.input :description%>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>
</div>
