
<%# Import updated NAV%>
      <%# cl_image_tag("owner_logo_tele7e") %>

<div class="form container col-6" style="margin: 20px auto;">
  <h1>Add new listing</h1>
  <span class="formtext">
    <%= simple_form_for (@listing) do |f| %>
    <%= f.input :name %>
    <%= f.input :address%>
    <%= f.input :max_cap, :label => "Maximum Occupancy", collection: (1..9) %>
    <%= f.input :description%>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
    <% end %>
   </span>
</div>
