<%= cl_image_tag("hkproifk2mlqc6naf8y9",
      width: 400, height: 300, crop: :fill) %>
<div class="container col-6">
<h1>Add new listing</h1>
<%= simple_form_for (@listing) do |f| %>
  <%= f.input :name %>
  <%= f.input :address%>
  <%= f.input :max_cap, :label => "Maximum Occupancy", collection: (1..9) %>
  <%= f.input :description%>
  <%= f.submit %>
<% end %>
</div>
