<div class="container col-8">
  <div>
    <h1><%= @listing.name %></h1>
  </div>
  <p>Address:<%= @listing.address %></p>Address:<%= @listing.address %>
  <p><%= @listing.description %></p>
  <p>Maximum Occupancy:<%= @listing.maxcap %></p>
</div>
