<div class="container pt-5", style="margin-top: 10px; margin-bottom: 10px;">
  <h2 class="bolded-text"><strong><%= @listing.name %></strong></h2>

  <div class="details d-flex">
    <div style="flex-grow: 1">
      <p>
        <i class="fa-solid fa-star"></i> 33 reviews &nbsp; . &nbsp; <i class="fa-solid fa-certificate"></i> Superhost  &nbsp; . &nbsp; <%= @listing.address %>
      </p>
    </div>
    <div>
      <p>
        <i class="fa-solid fa-arrow-up-from-bracket"></i> Share  &nbsp; &nbsp; <i class="fa-regular fa-heart"></i> <%= link_to "Save", listing_path(@listing), style: "text-decoration: none; color: black;"%>
      </p>
    </div>
  </div>

  <% if @listing.photos.attached? %>
    <div class="container" style="border-radius: 25px; overflow:hidden;">
      <div class="row no-padding">
        <div class="col-6">
          <%= cl_image_tag @listing.photos.first.key, class: "", style:"
          object-fit: cover;
          height: 100%;
          width: 100%", crop: :fill %>
        </div>
        <div class="col-6">
          <div class="row no-padding">
            <div class="col-6">
            <%= cl_image_tag @listing.photos.first.key, class: "img-fluid", crop: :fill %>
            </div>
            <div class="col-6">
            <%= cl_image_tag @listing.photos.first.key, class: "img-fluid", crop: :fill %>
            </div>
          </div>
          <div class="row no-padding">
            <div class="col-6">
            <%= cl_image_tag @listing.photos.first.key, class: "img-fluid", crop: :fill %>
            </div>
            <div class="col-6">
            <%= cl_image_tag @listing.photos.first.key, class: "img-fluid", crop: :fill %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

    <!-- restaurant menu / checkout-->
    <div class="container py-3", style="margin-top: 10px; margin-bottom: 10px;">
      <div class="row">
        <div class="col-md-8">
          <% username = @listing.user.email.split("@").first.capitalize %>
          <h2 class="bolded-text">Home hosted by <%= username %></h2>

          <div class="line"></div>

          <!-- make a card -->
          <div class="margin-top-btm">
            <p><strong>Self check-in</strong><br>You can check in with the doorperson.</p>
            <p><strong>Experienced Host</strong><br>Madhava has 433 reviews for other places.</p>
          </div>

          <div class="line"></div>

          <!-- make a card -->
          <div class="margin-top-btm">
            <p><small><%= @listing.description %></small></p>
          </div>

          <!-- /menu -->
        </div>
          <div class="col-md-4">
            <!-- checkout -->
            <div class="reserve-container", style="margin-top: 10px; margin-bottom: 10px;">

              <div class="d-flex justify-content-between my-3">
                <h2 class="bolded-text"><strong><%= @listing.price.round %> SGD</strong><small>night</small></h2>
              </div>

              <div class="checkout outline">
                <%= simple_form_for([@listing, @reservation]) do |f| %>
                <div class="d-flex" style="border-bottom: 1px solid #cacaca;">
                  <div class="w-50 p-3" style="border-right: 1px solid #cacaca;">
                    <div><strong>CHECK-IN</strong></div>
                    <%= f.input :start_date, label: false, input_html: { class: 'custom-date-input' } %>
                  </div>
                  <div class="w-50 p-3">
                    <div><strong>CHECK-OUT</strong></div>
                    <%= f.input :end_date, label: false, input_html: { class: 'custom-date-input' } %>
                  </div>
                </div>
                  <div class="w-100 p-3">
                    <div><strong>GUESTS</strong></div>
                    <%= f.input :number_of_people, label: false, default: 1, input_html: { class: 'custom-number-people' }, collection: (1..9)  %>
                  </div>
                  <%= f.submit "Make reservation", class: "btn btn-primary w-100", input_html: { class: 'custom-submit' } %>
                <% end %>

              </div>

            </div>

          </div>
      </div>
    </div>
</div>
