<div class="container p-2 m-2 px-5 mx-5">
  <h1><strong>Your reservation is confirmed!</strong></h1>
  <%= cl_image_tag @reservation.listing.photos.first.key, style:"border-radius: 25px;"%>
  <h2 class="py-2 my-2"><strong><%= @reservation.listing.name %></strong></h2>
  <div class="details d-flex">
    <div style="flex-grow: 1">
      <p>
        <i class="fa-solid fa-star"></i> 33 reviews &nbsp; . &nbsp; <i class="fa-solid fa-certificate"></i> Superhost  &nbsp; . &nbsp; <%= @reservation.listing.address %>
      </p>
    </div>
  </div>
  <div class="line"></div>
  <div class="my-4">
    <div class="container px-2 d-flex justify-content-between bolded-text">
      <h4 class="bolded-text"> Start date: </h4> <%= @reservation.start_date %>
    </div>
    <div class="container px-2 d-flex justify-content-between bolded-text">
      <h4 class="bolded-text"> End date: </h4> <%= @reservation.end_date %>
    </div>
    <div class="container px-2 d-flex justify-content-between bolded-text">
      <h4 class="bolded-text"> Number of people: </h4> <%= @reservation.number_of_people %>
    </div>
  </div>
</div>

<%= link_to 'Back', :back %>
