
<div class="border border-primary d-flex align-items-center justify-content-center" style="background-image: url(<%= image_path('wishlist-banner.jpg')%>); background-position: center; background-size: cover; height: 350px;">
  <div class="my-5">
  </div>
</div>

<div class="container my-5">
  <div>
    <h1 class="display-3 fw-bold fs-2">Wishlists</h1>
  </div>

    <% if @wishlists.empty? %>

      <h3>Create your first wishlist</h3>
      <p>As you search, click the heart icon to save your favourite places and Experiences to a wishlist.</p>

    <% else %>

    <div class="all-cards">
      <% @wishlists.each do |wishlist| %>

          <div class="my-3">
            <div class="img-alignme">
              <div style="background-image: url(<%= cl_image_path(wishlist.listings[0].photos[0].key)%>); background-position: center; background-size: cover; height: 300px; width: 100%;"></div>
              <div>
                <div style="background-image: url(<%= wishlist.listings[1] ? cl_image_path(wishlist.listings[1].photos[0].key) : ''%>); background-position: center; background-size: cover; height: 150px; width: 100%"></div>
                <div style="background-image: url(<%= wishlist.listings[2] ?  image_path('hawa3.jpg') : ''%>); background-position: center; background-size: cover; height: 150px; width: 100%"></div>
              </div>
            </div>
            <div class="display-6">
              <%= link_to wishlist.name, wishlist_path(wishlist), style: 'text-decoration: none; font-size: 20px; color: black; font-weight: bold;' %>
            </div>
          </div>
      <% end %>
    </div>

    <% end %>
